<style>

/* style-ი შეგიძლია გააკეთო ზოგადი. მაგალიტად h3-ისთვის სტაილში გაწერილი მაქვს მახასიათებლები.
ეს მახასიათებლები ზოგადია და მიუდგება ყველა h3-ს. მაგრამ ამასთან ერთად შეგიძლია id-ით ან class-ით გაფილტრო ელემენტი
და კონკრეტულ h3-ს მაგალიტად, ცალკეც გაუწერო მახასიათებლები. ამ შემთხვევაში ბრაუზერი უპირატესობას მიანიჭებს კონკრეტულ მახასიათებლებს.  */

body {
  background-color: white;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 10%;
}

img:hover {
  height: 270px;
}

h1 {
  color: #66BFBF;
  font-family: cursive;
}

h3 {
  color: #06113C;
  font-family: sans-serif;
}

p {
  font-family: cursive;
}

/*CLASS SELECTORS*/

.bacon {
  background-color: red
}

.broccoli {
  background-color: black;
}

/* ID SELECTORS */

#hobbies {
  color: #D29D2B;
}

#bio {
font-family: Arial;

}

/*სფეციფიკაცია შეგიძლია გააკეთო id-თაც და class-ითაც. ისე არაა რო class არის image-სთვის და id დანარჩენისთვის.
უბრალოდ განსხვავება ისაა, რომ id-ით როცა აკეთებ, ერთ ფეიჯზე აიდის მნიშვნელობა უნდა იყოს ყოველთვის უნიკალური.
class-ის შემტხვევაში კი შეგიძლია ერთ ფეიჯზე მსგავსი მნიშვნელობები გამოიყენო.ანუ შექმნა რამდენიმე ელემენტის ერთობლიობა, რომლებსაც ერთი კლასი აქვს ამდენად
თუ გაქვს მაგალითად 4 ცალი h3 და გინდა ორზე მსგავსი იყოს,
მეორე ორზე კიდევ მსგავსი სტაილი. ასეთ დროს  class უნდა გამოიყენო და იმ ორ-ორს ერთნაირი მნიშვნელობები მიანიჭო, id-საც გამოიყენებ, მაგრამ ცალკცალკე უნდა წერო ერთიდაიგივე სტაილი
რაც დროის კარგვაა
. თუ 4-ვე h3-სხვადასხვა სტაილინგის გაკეთება გინდა
მაგ დროს კი შეგიძლია class-იც გამოიყენო და id-ც, რადგან ოთხივეს უნდა მიანიჭო უნიკალური სახელი */

</style>
